* {
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

body {
    background-color: rgba(225, 160, 106, 0.735);
    margin: 0;
    position: relative;
}

#background-container {
    background-image: url(img/calculator.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    box-shadow: inset 0px 0px 200px 100px rgba(2, 2, 2, 0.397);
}

#calculator-container {
    max-height: 550px;
    max-width: 550px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
}

#display {
    font-weight: bold;
    width: 75%;
    font-size: 50px;
    letter-spacing: 0.15rem;
    color: rgb(31, 30, 30);
    text-shadow: 0 0 2px #232323,
                 2px 2px 3px #a5a5a5;
    text-align: right;
    position: absolute;
    top: -36px;
}

#lady{
    visibility: hidden;
    position: absolute;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#button-container {
    position: absolute;
    display: grid;
    grid-template-rows: 45px 20px 65px 14px 65px 14px 65px 14px 65px;
    grid-template-columns: repeat(5, minmax(85px, 85px));
    column-gap: 13.5px;
    top: 140px;
}

.key {
    transition: transform 60ms ease, filter 60ms ease, box-shadow 60ms ease;
    outline-color: transparent;
    background: transparent;
    color: transparent;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.key:hover {
    box-shadow: inset 2px 0px 1px 2px rgba(125, 125, 125, 0.349);
}

.key:active {
    transform: translateY(2px);
    filter: brightness(0.9);
    box-shadow: inset 1px 3px 7px 7px rgba(0, 0, 0, 0.438);
}

.key.pressed {
  transform: translateY(2px);
  filter: brightness(0.92);
  box-shadow: inset 0 2px 6px rgba(0,0,0,.55);
}

.space {
    grid-column: span 5;
    cursor: default;
    opacity: 0;
}

#space4 {
    grid-column: span 4;
}

#\+ {
    grid-row: span 3;
}

#footer {
    margin-top: auto;
    text-align: center;
    font-size: calc(0.5rem + 0.5vw);
    color: rgb(89, 79, 79);;
}

@media (max-width: 1100px) {
    #background-container {
        box-shadow: inset 0px 0px 100px 100px rgba(2, 2, 2, 0.397);
    }
}