* {
    box-sizing: border-box;
    border: 1px solid black;
    font-family: monospace, sans-serif;
}

body {
    background-color: rgba(225, 160, 106, 0.735);
    margin: 0;
    position: relative;
        min-width: 404px;

}

#background-container {
    background-image: url(img/calculator.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    height: 99.8dvh;
}

#calculator-container {
    max-height: 550px;
    max-width: 550px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    border: green 2px solid;
}

#display {
    font-weight: bold;
    width: 80%;
    font-size: 50px;
    letter-spacing: 0.15rem;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 2px #000000;
    border: 2px solid yellow;
    text-align: right;
    position: absolute;
    top: -40px;
}

#button-container {
    position: absolute;
    display: grid;
    grid-template-rows: 45px 20px 65px 14px 65px 14px 65px 14px 65px;
    grid-template-columns: repeat(5, minmax(85px, 85px));
    column-gap: 13.5px;
    top: 140px;
    border: 2px solid blue;
}

button {
    transition: transform 60ms ease, filter 60ms ease, box-shadow 60ms ease;
    outline-color: transparent;
    opacity: 0.5;
    /* border-style: groove; */
}

#space1, #space2, #space3{
    grid-column: span 5;
}

#space4 {
    grid-column: span 4;
}

#\+ {
    grid-row: span 3;
}

#footer {
    margin-top: auto;
    text-align: center;
    font-size: calc(0.5rem + 0.5vw);
    color: rgb(89, 79, 79);;
}

@media (max-height: 640px) {
    #display {
        display: none;
    }
}

@media (max-width: 320px) {
    #display {
        display: none;
    }
}